.detail summary {
    padding: 1.6rem;
    /* Add padding to the summary element */
    cursor: pointer;
}

.games-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
}

.games-container .game-pictures {
    display: flex;
    gap: 1rem;
}

.games-container .game-pictures img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.games-container .indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.games-container .indicators .dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.arrow {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.detail[open] .games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}